- content_for :head do
  = render partial: 'layouts/opengraph', locals: { title: t('brand.upper'), url: root_url }
- content_for :image_attribute do
  = t 'views.default.index.footer.copyright'

= render partial: 'header'
.callout.lighthouse
  .img-lighthouse
.container
  - if @rss
    = render partial: 'blog_post', collection: @rss.first(3), as: :post
  - else
    %h2= t ('views.default.index.blog_load_fail')
  .blog-post
    %h2= link_to t('views.default.index.read_more_blog'), blog_path, class: 'action-link'