%footer
  .container
    .row
      .col-xs-12
        %ul
          %li Modtalk
          %li= link_to 'License', license_path
          %li= link_to 'GitHub', github_path
          %li= link_to 'Facebook', facebook_path
          %li= link_to 'Twitter', twitter_path
    .row
      .col-xs-12
        %h1.logo-text &#xe600;&nbsp;modtalk
    .row
      .copyright.col-xs-12
        %div &copy; #{Time.now.year} The Modtalk Group
        %div= yield :image_attribute
