- content_for :image_attribute do
  Lighthouse photo &copy; 2011 Gwendolyn L. Day
!!!
%html{prefix: "og: http://ogp.me/ns#"}
  %head
    %title<
      - if content_for? :page_title then
        = content_for :page_title
      - else
        Modtalk
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0", name: "viewport"}/
    %meta{content: "Modtalk.org", property: "apple-mobile-web-app-title"}/
    %link{href: image_url('modtalk_logo-144px.png'), rel: "apple-touch-icon", size: "144x144"}/
    = stylesheet_link_tag 'application', media: :screen, async: true, data: { turbolinks_track: true }
    = javascript_include_tag 'application.js', async: true, data: { turbolinks_track: true }
    - if content_for?(:head) then
      = yield :head
  %body
    = render partial: 'layouts/navigation'
    #search-pane
      = text_field_tag 'search', '', class: 'form-control search-box', placeholder: 'Search', tabindex: 1, data: {results_pane: 'search-results'}
      %svg.indicator{xmlns: 'http://www.w3.org/2000/svg', viewBox: '0 0 32 32'}
        %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(2)'}
          %animate{attributename: 'd', begin: 0, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
        %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(8)'}
          %animate{attributename: 'd', begin: 0.2, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
        %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(14)'}
          %animate{attributename: 'd', begin: 0.4, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
        %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(20)'}
          %animate{attributename: 'd', begin: 0.6, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
        %path{d: 'M0 12 V20 H4 V12z', transform: 'translate(26)'}
          %animate{attributename: 'd', begin: 0.8, calcmode: 'spline', dur: '1.2s', keysplines: '0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8', keytimes: '0;.2;.5;1', repeatcount: 'indefinite', values: 'M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z'}
      #search-results
    = yield
    = render partial: 'layouts/footer'
    = render partial: 'search/result_template'